/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

*{
  text-decoration: none;
}

body {
  position: relative;
  color: white;
  height: 100vh;
  background: linear-gradient(
    200.96deg,
    #fedc2a -29.09%,
    #dd5789 51.77%,
    #7a2c9e 129.35%
  );
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
}

button:hover {
  transform: scale(1.05);
  opacity: 1;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.Hello {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.skeleton {
  width: 400px;
  height: 620px;
  position: absolute;
  background: rgb(141, 141, 141);
  margin: 0 auto;
  border-radius: 40px;
  justify-content: center;

}

#content {
  width: 400px;
  height: 620px;
  position: absolute;
  background: rgb(141, 141, 141);
  margin: 0 auto;
  border-radius: 40px;
  justify-content: center;
  
}

.skeleton ul li {
  margin: 0 auto;
  text-align: center;
}

#profilePh {
  height: 200px;
  width: 200px;
  background-color: #bbb;
  border-radius: 50%;
  margin-top: 40px;
  text-align:center;
  margin-bottom: 20px;
  
}

#shortEl {
  height: 20px;
  margin-top: 30px;
  width: fit-content;
  padding-right: 5px;
  padding-left: 5px;
  color: black;
  border-radius: 5px;
  text-align: left;
  position: relative;
}

#mediumEl {
  height: 20px;
  width: 100px;
  margin-top: 30px;
  margin-top: 30px;
  padding-right: 5px;
  padding-left: 5px;
  color: black;
  border-radius: 5px;
  text-align: left;
  

}

#longEl {
  height: 20px;
  margin-top: 30px;
  width: 200px;
  border-radius: 5px;
  color: black;
  padding-right: 5px;
  padding-left: 5px;
  text-align: left;
}

#menuBar {
  width: 100%;
  height: 36px;
  display:flex;
  color: white;
  align-items: center;
  margin:0;
  top:0;
  left:0;
  position: fixed;
  background-color: black;
}

#windowButtons {
  
  right: 0;
  display: flex;
  user-select: none;

}

#windowButtons div {
  float: left;
  top:50%;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  padding: 5px;
}

#windowButtons div:hover {
  background-color: rgb(85, 85, 85);
}

#menuTitle {
  position: relative;
  user-select: none;
  padding-right: 20px;
  left: 20px;
}

#menuName:hover{
  background-color: rgb(85, 85, 85);
  padding: 3px;
}

#menuElement {
  background-color: rgb(38, 38, 38);
  position: absolute;
}
#menuElement ul {
  text-align: left;
  left: 0;
  padding: 0px;
}

#menuElement ul li {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  left: 0;
}

#buttonH {
  position: absolute;
  bottom:0;
  right: 0;
  margin: 30px
}

#menuBar #menuClose {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#menuBar #title {
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  text-align: center;
  flex: 1;
  -webkit-app-region: drag;
}